@nilmod {
	/* There is no id field. The filename defines the id of the mod. */
	name: "NilMacosFixes";
	description: "An example mod for NilLoader.";
	authors: "Dogboy21";
	version: "${version}";
}

entrypoints {
	/* premain is the only entrypoint defined by NilLoader itself. */
	premain: "io.dogboy.nilmacosfixes.NilMacosFixes";
}
